.container_12
  .grid_4.prefix_2.suffix_2
    %h1{:style => "margin:0px;padding:0px"} blog.JACKHQ.com
    %small Jack Russell Software Company Blog
  .grid_4
    %a{:href => 'http://www.jackhq.com'}
      %img{:src => '/images/jackhq.png', :style => 'height:60px;width:80px'}
.clear
